{% load static %}

<c-layouts.base>
<!-- INICIO DO HERO -->
<div class="hero min-h-[70vh]" style="background-image: url({% static 'images/padaria2.png' %});">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-5xl font-bold">Venha nos Conhecer!</h1>
      <p class="mb-5 text-xl">
        Sua opinião é essencial para nós!
      </p>
    </div>
  </div>
</div>
<!-- FIM DO HERO -->
<!-- INICIO DO MAIN -->
<main class="max-w-4xl mx-auto my-20 p-2">
  <h1 class="text-4xl">Fale Conosco</h1>
  <form method="post" class="my-10">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Qual seu nome?</legend>
      <input type="text" class="input" name="name" placeholder="Digite aqui" required />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Qual seu email?</legend>
      <input type="email" class="input" name="email" placeholder="Digite um email válido" required />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Qual o assunto?</legend>
      <input type="text" class="input" name="subject" placeholder="Digite o assunto" required />
    </fieldset>
    
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Qual a sua avaliação da nossa proposta?</legend>
      <div class="rating">
        <input type="radio" name="rating" value="1" class="mask mask-star-2 bg-orange-400" aria-label="1 star" />
        <input type="radio" name="rating" value="2" class="mask mask-star-2 bg-orange-400" aria-label="2 star" />
        <input type="radio" name="rating" value="3" class="mask mask-star-2 bg-orange-400" aria-label="3 star" />
        <input type="radio" name="rating" value="4" class="mask mask-star-2 bg-orange-400" aria-label="4 star" />
        <input type="radio" name="rating" value="5" class="mask mask-star-2 bg-orange-400" aria-label="5 star" />
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Mensagem</legend>
      <textarea maxlength="512" class="textarea h-24" name="message" placeholder="Mensagem" required></textarea>
    </fieldset>

    <button class="btn btn-primary my-4">Enviar</button>
    <button class="btn">Default</button>
  </form>
</main>
<!-- FIM DO MAIN -->
</c-layouts.base>
