<c-vars 
  title="" 
  subtitle="" 
  bg_image="" 
  min_height="min-h-[70vh]"
  text_center="text-center"
/>

<div class="hero {{ min_height }} {{ class_name }}" {% if bg_image %}style="background-image: url({{ bg_image }})"{% endif %}>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content {{ text_center }}">
    <div class="max-w-2xl">
      {% if title %}
        <h1 class="mb-5 text-5xl font-bold">{{ title }}</h1>
      {% endif %}
      
      {% if subtitle %}
        <p class="mb-5 text-xl">{{ subtitle }}</p>
      {% endif %}
      
      {{ slot }}
    </div>
  </div>
</div>
