{% load static %}

<c-layouts.base title="Editar Perfil">
  <main class="max-w-3xl mx-auto my-12 px-4">
    <h1 class="text-4xl font-bold mb-6">Editar perfil</h1>

    <form method="post" class="space-y-4">
      {% csrf_token %}

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Telefone</legend>
        <input
          type="text"
          name="telefone"
          class="input input-bordered w-full"
          value="{{ perfil.telefone|default:'' }}"
        >
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">CPF</legend>
        <input
          type="text"
          name="cpf"
          class="input input-bordered w-full"
          value="{{ perfil.cpf|default:'' }}"
        >
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Data de nascimento</legend>
        <input
          type="date"
          name="data_nascimento"
          class="input input-bordered w-full"
          value="{{ perfil.data_nascimento|date:'Y-m-d'|default:'' }}"
        >
      </fieldset>

      <div class="flex gap-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'dashboard_main' %}" class="btn btn-outline">Cancelar</a>
      </div>
    </form>
  </main>
</c-layouts.base>
