{% load static %}

<c-layouts.base title="Cestas">
  <c-hero 
    bg_image="{% static 'images/cesta.png' %}"
    title="Nossas Cestas"
    subtitle="Conheça nossas opções de cestas para o seu café da manhã"
  ></c-hero>

  
  <!-- INICIO DO MAIN HOME -->
  <main class="max-w-4xl mx-auto my-20">
    <h1 class="text-4xl">Nossas Cestas</h1>
    <section class="my-10 flex gap-5 flex-wrap justify-center">
      {% for cesta in cestas %}
        <div class="card bg-base-100 w-70 shadow-sm">
          <figure>
            <img class="aspect-video" src="{{ cesta.imagem.url }}" alt="{{ cesta.nome }}" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{ cesta.nome }}</h2>
            <p>{{ cesta.descricao }}</p>
            <div class="card-actions justify-end">
              <a href="{% url 'cestas_detail' cesta.pk %}" class="btn btn-primary">Ver mais</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  </main>
  <!-- FIM DO MAIN HOME -->
</c-layouts.base>